<template>
    <div>
        <div id="nav">
            <router-link :to="{name: 'profile'}">Profile</router-link> |
            <router-link :to="{name: 'schedule'}">Schedule</router-link> |
            <router-link :to="{name: 'my-meetings'}">Meetings</router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Dashboard',
    data () {
        return {
            errors: []
        };
    },
    computed: {
        auth () {
            return this.$store.getters.auth;
        },
        user () {
            return this.$store.getters.user;
        }
    },
    mounted () {
        if (window._.isEmpty(this.user)) {
            this.getData();
        }
    },
    methods: {
        getData () {
            this.$socket.emit(`user.get.by.auth-token`, { token: this.auth.token });

            this.sockets.subscribe('user.get.by.auth-token.error', (data) => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.got.by.auth-token', (data) => {
                this.$store.commit('setUser', JSON.parse(data));
            });
        }
    }
};
</script>
