<template>
    <div>
        <div>
            <select v-model="searchParams.type">
                <option value="email">Email</option>
                <option value="phone">Phone</option>
                <option value="name">Name</option>
            </select>
            <input type="text" v-model="searchParams.keyword" @keyup.enter="search">
        </div>
        <table style="width:100%" v-if="users.length">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            <tr v-for="(user, index) in users" :key="index">
                <td>{{ user.name }}</td>
                <td>{{ user.details.phone }}</td>
                <td>{{ user.details.email }}</td>
                <td>
                    <router-link :to="{name: 'schedule-meeting', params: {id: user.id}}">Schedule a meeting</router-link>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    name: 'home',
    data () {
        return {
            users: [],
            searchParams: { type: 'email' }
        };
    },
    computed: {
        params () {
            if (this.searchParams.type === 'name') {
                return { [this.searchParams.type]: { $regex: '.*' + this.searchParams.keyword + '*.' } };
            } else {
                return { [`details.${this.searchParams.type}`]: { $regex: '.*' + this.searchParams.keyword + '*.' } };
            }
        }
    },
    methods: {
        search () {
            this.$socket.emit(`user.get.by.params`, this.params);

            this.sockets.subscribe('user.get.by.params.error', (data) => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.got.by.params', (data) => {
                data = JSON.parse(data);
                this.users = data;
            });
        }
    }
};
</script>
