<template>
    <div>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Starts</th>
                    <th>Ends</th>
                    <th>Partners</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(meeting, index) in meetings" :key="index">
                    <td>{{ meeting.Date }}</td>
                    <td>{{ meeting.StartAt }}</td>
                    <td>{{ meeting.EndAt }}</td>
                    <td>{{ meeting.Partners.join() }}</td>
                    <td>{{ moment(meeting.CreatedAt).format("ddd, Do MMM YYYY, h:mm a") }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="center">
            <button :disabled="page == 1" @click="prev">Prev</button>
            <button :disabled="paginator.lastPage == page" @click="next">Next</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Meetings',
    data () {
        return {
            meetings: [],
            page: 1,
            paginator: {
                lastPage: 1
            }
        };
    },
    computed: {
        auth () {
            return this.$store.getters.auth;
        },
        moment () {
            return window.moment;
        }
    },
    mounted () {
        this.getData();
    },
    methods: {
        getData () {
            this.$socket.emit(`schedule.get.by.params`, {
                params: { userID: this.auth.id },
                paginate: { perPage: 10, page: this.page }
            });

            this.sockets.subscribe('schedule.get.by.params.error', data => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('schedule.got.by.params', data => {
                this.meetings = JSON.parse(data).meetings;
                this.paginator = JSON.parse(data).paginator;
            });
        },
        next () {
            this.page = this.page + 1;
            this.getData();
        },
        prev () {
            this.page = this.page - 1;
            this.getData();
        }
    }
};
</script>

<style scopped>
    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
</style>
