<template>
    <div>
        <h2>Profile</h2>
        <section>
            <h3>hey, {{ user.name }}</h3>
            <router-link :to="{name: 'update-profile'}">
                {{underscore.isEmpty(user.details) ? 'Complete your profile!' : 'Update Profile'}}
            </router-link>
        </section>
    </div>
</template>

<script>
export default {
    name: 'Profile',
    data () {
        return {
            errors: [],
            underscore: window._
        };
    },
    computed: {
        auth () {
            return this.$store.getters.auth;
        },
        user () {
            return this.$store.getters.user;
        }
    }
};
</script>
