<template>
    <div>
        <h2>Update Profile</h2>
        <div>
            <input type="text" v-model="form.name" placeholder="Name">
            <input type="text" v-model="form.details.phone" placeholder="Phone">
            <input type="text" v-model="form.details.email" placeholder="Email">
            <input type="text" v-model="form.details.job_title" placeholder="Job Ttitle">
            <input type="text" v-model="form.details.compny" placeholder="Compny">
        </div>
        <div style="padding-top: 20px">
            <input type="text"
                v-for="(_, index) in addresses" :key="index" v-model="addresses[index]" placeholder="Address">
            <button @click="addresses.push('')">add</button>
        </div>
        <button @click="submit" style="margin-top: 10px">Save</button>
    </div>
</template>

<script>
export default {
    name: 'UpdateProfile',
    data () {
        return {
            errors: [],
            underscore: window._,
            form: {
                name: '',
                details: {}
            },
            addresses: ['']
        };
    },
    computed: {
        auth () {
            return this.$store.getters.auth;
        },
        user () {
            return this.$store.getters.user;
        }
    },
    mounted () {
        this.form.name = this.user.name;
        if (this.user.details) {
            this.form.details = this.user.details;
        }
        if (this.user.details && this.user.details.addresses) {
            Object.assign(this.addresses, this.user.details.addresses);
        }
    },
    methods: {
        submit () {
            this.form.details.addresses = this.addresses;
            this.$socket.emit('user.update', { token: this.auth.token, form: this.form });

            this.sockets.subscribe('user.update.error', (data) => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.updated', (data) => {
                this.$store.commit('setUser', JSON.parse(data));
            });
        }
    }
};
</script>

<style scoped>
    .flex-container {
        display: flex;
        justify-content: space-content;
    }
</style>
