<template>
    <div>
        <h1>Not Found</h1>
        <router-link :to="{name: 'home'}">Home Page</router-link>
    </div>
</template>

<script>
export default {
    name: 'NotFound'
};
</script>

<style>

</style>
