<template>
    <div>
        <h2>Schedule</h2>
        <section>
            <router-link :to="{name: 'update-schedule'}">
                {{ user.details && user.details.schedule ? 'Update Schedule' : 'Set Your Schedule!'}}
            </router-link>
        </section>
    </div>
</template>

<script>
export default {
    name: 'Schedule',
    data () {
        return {
            errors: []
        };
    },
    computed: {
        auth () {
            return this.$store.getters.auth;
        },
        user () {
            return this.$store.getters.user;
        }
    }
};
</script>
