<template>
    <div>
        <div>
            <input type="date" v-model="date" >
        </div>
        <table style="width:100%" v-if="days.includes(day)">
            <tr>
                <th>address</th>
                <th>from</th>
                <th>to</th>
                <th>select</th>
            </tr>
            <td>{{slots[day].address}}</td>
            <td>{{slots[day].from}}</td>
            <td>{{slots[day].to}}</td>
            <td>
                <router-link :to="{name: 'select-meeting', params: {
                    id: params._id
                }, query: {day, date}}">Select</router-link>
            </td>
        </table>

    </div>
</template>

<script>
let moment = window.moment;
export default {
    name: 'ScheduleMeeting',
    data () {
        return {
            user: {},
            date: '',
            days: [],
            slots: []
        };
    },
    computed: {
        params () {
            return {
                _id: this.$route.params.id
            };
        },
        day () {
            return moment(this.date).format('ddd');
        }
    },
    mounted () {
        this.getData();
    },
    methods: {
        getData () {
            this.$socket.emit(`user.get.by.params`, this.params);

            this.sockets.subscribe('user.get.by.params.error', (data) => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.got.by.params', (data) => {
                data = JSON.parse(data);
                this.user = data[0];
                this.days = window._.keys(this.user.details.schedule);
                this.slots = this.user.details.schedule;
            });
        }
    }
};
</script>

<style></style>
