<template>
    <div>
        <div v-if="errors.length">
            <span v-for="(error, index) in errors" :key="index" style="background-color: red;">{{ error.err }}</span>
        </div>
        <label for="duration">Duration (Minutes) </label>
        <input id="duration" type="number" v-model="duration">
        <br><br>
        <label for="slot">Slots </label>
        <select v-model="slot" id="slot">
            <option v-for="(slot, index) in slotsDurationBased" :key="index" :value="slot">{{ slot }}</option>
        </select>
        <br><br>
        <button @click="submit">submit</button>
    </div>
</template>

<script>
export default {
    name: 'SelectMeeting',
    data () {
        return {
            user: {},
            duration: 0,
            slots: {},
            slot: '',
            errors: []
        };
    },
    computed: {
        params () {
            return {
                _id: this.$route.params.id
            };
        },
        day () {
            return this.$route.query.day;
        },
        date () {
            return this.$route.query.date;
        },
        slotsDurationBased () {
            return window.getTimeStops(this.slots.from, this.slots.to, 15);
        }
    },
    mounted () {
        this.getData();
    },
    methods: {
        getData () {
            this.$socket.emit(`user.get.by.params`, this.params);

            this.sockets.subscribe('user.get.by.params.error', data => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.got.by.params', data => {
                data = JSON.parse(data);
                this.user = data[0];
                this.slots = this.user.details.schedule[this.day];
            });
        },
        submit () {
            let starts = this.slot;
            let ends = window.moment(this.slot, 'HH:mm').add(this.duration, 'minutes').format('HH:mm');

            this.$socket.emit(`schedule.create`, {
                userID: this.$store.getters.auth.id,
                partners: [this.$route.params.id],
                details: {},
                startAt: starts,
                endAt: ends,
                date: this.date
            });

            this.sockets.subscribe('schedule.create.error', data => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('schedule.created', data => {
                data = JSON.parse(data);
                this.$router.push('/my-meetings');
            });
        }
    }
};
</script>

<style></style>
