<template>
    <div>
        <h2>Weekly Schedule</h2>
        <h3>Days</h3>
        <div v-for="(day, index) in days" :key="index">
            <h4>{{ day }}</h4>
            <label :for="`${index}-from`">From</label>
            <input :id="index" type="time" :placeholder="`${index}-from`" v-model="schedule[day].from" style="margin-right: 50px;">
            <label :for="`${index}-to`">To</label>
            <input type="time" :placeholder="`${index}-to`" v-model="schedule[day].to" style="margin-right: 50px;">
            <select v-model="schedule[day].address">
                <option v-for="(address, index) in addresses" :key="index" :value="address">{{address}}</option>
            </select>
            <br>
        </div>
        <br>
        <button @click="submit">Save</button>
    </div>
</template>

<script>
export default {
    name: 'UpdateSchedule',
    data () {
        return {
            errors: [],
            underscore: window._,
            days: ['Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            schedule: {
                Sat: {}, Sun: {}, Mon: {}, Tue: {}, Wed: {}, Thu: {}, Fri: {}
            }
        };
    },
    computed: {
        auth () {
            return this.$store.getters.auth;
        },
        user () {
            return this.$store.getters.user;
        },
        addresses () {
            return this.$store.getters.user.details.addresses;
        }
    },
    mounted () {
        if (this.user.details && this.user.details.schedule) {
            Object.assign(this.schedule, this.user.details.schedule);
        }
    },
    methods: {
        submit () {
            if (!this.user.details.schedule) {
                this.user.details['schedule'] = {};
            }
            Object.assign(this.user.details.schedule, this.schedule);
            this.$socket.emit('user.update', { token: this.auth.token, form: this.user });

            this.sockets.subscribe('user.update.error', (data) => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.updated', (data) => {
                this.$store.commit('setUser', JSON.parse(data));
            });
        }
    }
};
</script>
