<template>
    <div id="app">
        <div id="nav">
            <div>
                <router-link :to="{name: 'home'}">Home</router-link> |
                <router-link :to="{name: 'about'}">About</router-link>
            </div>
            <div v-if="!auth">
                <router-link :to="{name: 'login'}">Login</router-link> |
                <router-link :to="{name: 'register'}">Register</router-link>
            </div>
            <div v-else>
                <router-link :to="{name: 'dashboard'}">Dashboard</router-link> |
                <a @click="logout" >Logout</a>
            </div>
        </div>
        <router-view/>
    </div>
</template>

<script>
export default {
    name: 'App',
    computed: {
        auth () {
            return this.$store.getters.auth.token;
        }
    },
    methods: {
        logout () {
            this.$store.commit('logout');
            this.$router.push('/logout');
        }
    }
};
</script>

<style lang="scss">
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
</style>
