<template>
    <div>
        <div>
            <h1>Login</h1>
        </div>
        <div>
            <span v-for="(error, key) in errors" :key="key">
                {{ error.err }}
            </span>
        </div>
        <input type="text" placeholder="Username" v-model="form.username">
        <input type="password" placeholder="Password" v-model="form.password">
        <button @click="submit">Login</button>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data () {
        return {
            errors: [],
            form: {}
        };
    },
    methods: {
        submit () {
            this.$socket.emit(`user.authenticate`, this.form);

            this.sockets.subscribe('user.authenticate.error', (data) => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.authenticated', (data) => {
                data = JSON.parse(data);
                this.$store.commit('login', {
                    token: data.jwt_token,
                    id: data.id
                });

                this.$router.push('dashboard');
            });
        }
    }
};
</script>

<style scoped lang="scss"></style>
