<template>
    <div>
        <div>
            <h1>Register</h1>
        </div>
        <div>
            <span v-for="(error, key) in errors" :key="key">
                {{ error.err }}
            </span>
        </div>
        <input type="text" placeholder="Name" v-model="form.name">
        <input type="text" placeholder="Username" v-model="form.username">
        <input type="password" placeholder="Password" v-model="form.password">
        <button @click="submit">Register</button>
    </div>
</template>
<script>
export default {
    name: 'Register',
    data () {
        return {
            errors: [],
            form: {}
        };
    },
    methods: {
        submit () {
            this.$socket.emit('user.create', this.form);

            this.sockets.subscribe('user.create.error', (data) => {
                this.errors = [JSON.parse(data)];
            });

            this.sockets.subscribe('user.created', (data) => {
                this.$router.push('login');
            });
        }
    }
};
</script>

<style scoped lang="scss"></style>
